<!DOCTYPE HTML>
<html>
<head>
  <title>URL Shortener</title>
</head>
<body>
<form action="/" method="post">
  <input type="text" placeholder="Enter URL" name="full_url">
  <input type="submit" value="Shorten">
</form>
</body>
</html>
