<!DOCTYPE HTML>
<html>
<head>
  <link href="/css/default.css" rel="stylesheet" type="text/css">
  <title>Your URL Shortened</title>
</head>
<body>
<table>
  <tr>
    <td id="label">Original URL</td>
    <td><%= url_to_redirect_to %></td>
  </tr>
  <tr>
    <td id="label">"Shortened" URL</td>
    <td><a id="short_link" href="<%= url_to_redirect_to %>"><%= domain %><%= id %></a></td>
  </tr>
  <tr>
    <td></td>
    <td><a id="homepage" href="/">"Shorten" another URL</a></td>
  </tr>
</table>
</body>
</html>