<!DOCTYPE HTML>
<html>
<head>
  <title>Your URL Shortened</title>
</head>
<body>
<p>Original URL: <%= old_url %></p>
<p>"Shortened" URL: http://boiling-depths-2945.herokuapp.com/<%= index %></p>
</body>
</html>