
body {
    text-align: center;
    font-family: "Lucida Console", Monaco;
}

form {
    margin-top: 18%;
    display: inline-block;
    text-align: center;
}

.error {
    margin: 20px auto;
    width: 30em;
    text-align: center;
    color: #ff0000;
}

input[type="text"] {
    width: 350px;
    height: 20px;
    font-size: 13px;
    padding-left: 10px;
    border-color: black;
    box-shadow: 1px 1px 2px black;
    font-family: "LUCIDA CONSOLE", Monaco
}

input[type="submit"] {
    display: block;
    width: 80px;
    margin: auto;
    background-color: #374bff;
    color: white;
    margin-top: 10px;
    padding: 10px;
    border-color: black;
    box-shadow: 3px 3px 2px black;
    font-size: 13px;
    font-family: "LUCIDA CONSOLE", Monaco;
}

table {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
tr{
    padding-bottom: 5px;
}

td {
    width: 400px;
    text-align: left;
    padding :10px;
    font-size: 15px;
}

#label {
    width: 170px;
    font-weight: bold;
    font-size: 17px
}
